h1{
  text-align: center;
  margin: 3rem auto;
  color: rgb(211, 168, 252);
}

.example-container {
  position: relative;
  width: 70%;
  margin: 5rem auto;
}

.example-table-container {
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
  background-color: rgb(114, 36, 187);
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 3rem;
}

.mat-column-created {
  max-width: 6rem;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.paginator {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: blueviolet;
}

mat-paginator {
  background-color: blueviolet;
}